<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>GO Virtual</title>
  </head>

  <body>
    <!-- table with column Employee ID,First Name,Last Name, Phone Number and Address -->
    <div class="container-fluid">
      <h1>Student Records</h1>
      <div class="add-button mb-3 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary " data-bs-toggle="modal"
          data-bs-target="#exampleModal">ADD</button>
      </div>
      <div class="table">
        <table class="table table-bordered table-striped table-responsive table-hover">
          <thead class="table-dark">
            <tr>
              <th>Student ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Student Address</th>
              <th>Student Email</th>
              <th>Action</th>
            </tr>
          <tbody>
            <tr th:each="mList:${mList}">
              <td th:text="${mList.getStid()}"></td>
              <td th:text="${mList.getStFname()}"></td>
              <td th:text="${mList.getStLname()}"></td>
              <td th:text="${mList.getStAddress()}"></td>
              <td th:text="${mList.getStEmail()}"></td>
            </tr>

          </tbody>
          </thead>
        </table>
      </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create/Add New Student</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form th:action="@{/add}" method="post" th:object="${student}">
            <div class="modal-body">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="stFname" placeholder="First Name" th:name="*{stFname}"
                  th:field="*{stFname}" required>
                <label for="fname">First Name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="stLname" placeholder="Last Name" th:field="*{stLname}" required>
                <label for="lname">Last Name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="stAddress" placeholder="Student Address" th:field="*{stAddress}" required>
                <label for="saddress">Student Address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="stEmail" placeholder="Student Email" th:name="*{stEmail}"
                  th:field="*{stEmail}" required>
                <label for="semail">Student Email</label>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-warning" type="reset" value="Reset">Reset</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
  </form>
        </div>
      </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
  </body>

</html>
